<section class="col-8 offset-2 col-sm-6 offset-sm-3">
  <%= form_with model: [:admin, @author] do |form| %>
    <div class="field">
        <%= form.label :name %><br />
        <%= form.text_field :name, class: 'form-control m-2'  %>
      </div>
      <div class="actions">
        <%= form.submit 'Submit', class: 'btn btn-primary m-2' %>
      </div>
    <% end %>
  <hr>
</section>